{% include 'pageHead.html' %}

<h1 id=pageTitle> About </h1>

    <p>
        Open Voter ID is like OpenID, to allow third-party websites to confirm registered voters' city of residence.
        This system uses scrambled government voter registration data to check a user's voter registration name and address.
        The only data revealed to the application website, is the user's city, and an app-specific user-ID.
    </p>
    <p>
        Third-party websites can build services that are specific to the citizens of a city, without 
        requesting nor storing sensitive information about each voter.
    </p>
    <p>
        Voters can use multiple third-party websites that provide city-specific services, 
        without revealing private information like home address.
    </p>

{% include 'pageFoot.html' %}

